.carrHero {
    background: linear-gradient(344.91deg, #8C7024 -68.26%, rgba(0, 0, 0, 0.87) 47.51%);

    padding: 14rem 4rem 24.5rem 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.carrHero_Title {
    width: 80%;
}
.carrHero_Title > h1 {
    text-align: center;
    color: #FFF;
    font-size: 7em;
    line-height: 110%;
}

/* media-query */
@media(max-width:780px) {
    .carrHero {
        font-size: 3rem;
        padding: 34rem 4rem 30rem 4rem;
    }
    .carrHero_Title {
        width: 90%;
    }
    .carrHero_Title > h1 {
        font-size: 4em;
        text-align: left;
    }
}