.Investors {
    padding: 2rem;
    font-size: 1rem;
    background: #242423;
}
.Investors_Container {
    padding: 2em 4em;
}
.Investors_Eyebrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Investors_Eyebrow_Title > p {
    font-size: 6.3em;
    color: #EEEEEA;
}
.Investors_Eyebrow_Subtitle > p {
    font-size: 1.5em;
    color: rgba(102, 102, 102, 1);
}
.Investors_Showcase_Container {
    margin: 4em 0;
}
.Investors_Showcase {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* alignment for the investors */
    justify-content: center;
}
.Investors_Showcase_Item {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2em 0;
}
.Investors_Showcase_Img {
    height: 15.625em;
    width: 15.625em;

    margin: 0 0 1em 0;
    
    border-radius: 50%;
}
.Investors_Showcase_Img > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
.Investors_Showcase_TextContainer {
    /* margin: 0 0 0 2em; */

}
.Investors_Showcase_Fullname {
    padding: 1em 0 0.2em 0;
}
.Investors_Showcase_Fullname > p {
    font-size: 1.2em;
    color: #EEEEEA;
    text-align: center;
}
.Investors_Showcase_Position {
    padding: 0.4em 0 0.6em 0;
}
.Investors_Showcase_Position > p {
    font-size: 1em;
    color: #EEEEEA;
    text-align: center;

}
.Investors_Showcase_CompanyName > p {
    font-size: 1em;
    color: #AF9347;
    text-align: center;
}