.carrChild_Form {
    padding: 2rem;

    font-size: 1rem;
}
.carrChild_Form_Container {
    padding: 2em 4em;
    display: flex;
    justify-content: center;
}

.carrChild_Form_Div {
    background: #EEEEEA;
    border-radius: 0.63em;
    padding: 2em 10em;

    width: 70%;
    /* margin: 0 4em 0 0; */
}
/* .carrChildForm_Left_Text {
} */
.carrChildForm_Left_Text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}
.carrChildForm_Left_Text > p {
    width: 60%;
    font-size: 4em;
    color: #322712;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* Form */
.carrChild_Form_form {
    display: flex;
    flex-direction: column;
}
.carrChild_Form_Input {
    display: flex;
    flex-direction: column;

    padding: 1em 0;
}
.carrChild_Form_Input > label {
    padding: 0.5em 0;
}
.carrChild_Form_Input > input {
    padding: 1.5em 12em 1.5em 2em;

    /* border: none; */
    outline: none;
    border-radius: 0.5em;
}
.carrChild_Form_Input.carrChild_Form_InputMobile > input {
    padding: 1.5em 7em 1.5em 7em;
}
.carrChild_Form_Btn > button {
    margin: 2em 0 1em 0;
    padding: 2em 6em;

    border-radius: 20em;
    border: none;
    cursor: pointer;

    width: 100%;
    background: #322712;
    color: #FFF;
}

.carrChild_Form_Btn > button > p {
    font-size: 1.6em;
}

/* Focus */
.focus {
    border: 1px #E5D161 solid;
    outline: none;
}
.notFocus {
    border: none;
    outline: none;
}