.heroAbout { /* PARENT- div */
    padding: 2rem;
    font-size: 1rem;

    background: #EEEEEA;
}
.heroAbout_Container {
    padding: 2em 2em;
}
.heroAbout_Content {

}
/* hero-about-content-A */
.heroAbout_ContentA { /* parent-div */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 4em 0;
}
.heroAbout_Title {
    width: 48%;
}
.heroAbout_Title > p {
    font-size: 2.8em;
    line-height: 120%;
}
.heroAbout_Description {
    width: 48%;
}
.heroAbout_Description > p {
    font-size: 1.4em;
    line-height: 120%;

    color: #666666;
}
/* ----- */
/* hero-about-content-B */
.heroAbout_ContentB { /* parent-div */
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 4em 0;
}
/* stats-container */
.heroAbout_StatsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    
}
.heroAbout_StatsContainer:last-child {
    margin-right: 0;
}
.heroAbout_Stats {
    display: flex;
    align-items: flex-start;
}
.heroAbout_Stats > p {
    font-size: 7em;
}
.heroAbout_StatsDescription {
    /* padding: 0 0 0 2em; */
}
.heroAbout_StatsDescription > p {
    font-size: 1.2em;
}

/* media-query */
@media(max-width:780px) {
    .heroAbout {
        font-size: 2.6rem;
    }
    .heroAbout_ContentA  {
        flex-direction: column;
    }
    .heroAbout_Title {
        width: 100%;
        padding: 0 0 2em 0;
    }
    .heroAbout_Description {
        width: 85%;
    }
    .heroAbout_Description > p {
        line-height: 150%;
    }
    .heroAbout_ContentB {
        padding: 0 0 4em 0;
    }
    .heroAbout_Stats > p {
        font-size: 4em;
    }
    .heroAbout_StatsContainer {
        width: auto;
    }
}