.bandicootImageSequence {
    /* height: 600vh;

    position: relative;
    background: black;
    border: 1px red solid; */

}
.bandicoot_TitleContainer {
    margin-top: 12em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.bandicoot_Title {
    /* padding: 0 0; */
}
.bandicoot_Title > p {
    font-size: 1em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.bandicoot_Bandicoot > p {
    font-size: 7.375em;
}
/* Test white div */
.testDiv {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testDivB {
    width: 30%;
    height: 70%;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}