/* parent div */
.prodShowcase {
    font-size: 1rem;

    padding: 2rem;
}
.prodShowcase_Container {
    padding: 2em;
}
/* product showcase header */
.prodShowcase_Header_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 2em 0 6em 0;
}
.prodShowcase_Header_Title {
    width: 35%;
}
.prodShowcase_Header_Title > p {
    font-size: 5.6em;
    color: #010101;
}
.prodShowcase_Header_Description {
    width: 50%;   
}
.prodShowcase_Header_Description > p {
    font-size: 1.5em;
    color: #666;

    line-height: 140%;
}
/* product showcase swiper */
.prodShowcase_SwiperSlide {
    padding: 2em 0 0 0;
}
.prodShowcase_AssetDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 1.6em 0 0 0;
    border-radius: 0.6em;

    height: 26em;
    width: 36em;

    position: relative;
}
.prodShowcase_AssetModel {
    height: 50%;
    width: 54%;
}
.prodShowcase_Asset_DetailsDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 1em 0 1em 1em;
    width: 90%;
}
.prodShowcase_Asset_TitleDiv {
    padding: 0.4em 0;
}
.prodShowcase_Asset_TitleDiv > p {
    font-size: 1.8em;
    font-weight: bold;
}
.prodShowcase_Asset_DescriptionDiv {
    width: 70%;
}
.prodShowcase_Asset_DescriptionDiv > p {
    font-size: 1em;
}
/* Progress bar */
.prod_Progress_Bar_Outer {
    position: absolute;
    right: 0;
    bottom: 20%;
    height: 3px;
    width: 46em;
    border-radius: 20em;

    background: #D4D4D4;
}
.prod_Progress_Bar_Container {
    position: relative;
    height: 100%;
    width: 100%;

    border-radius: 20em;
}
.prodShowcase_SwiperContainer {
    position: relative;
    opacity: 0;
    cursor: none;
    /* cursor: help; */
}
/* DragComponent */
.DragContainer {
    background:  rgba(79, 79, 79, 0.56);
    width: fit-content;
    padding: 1.8em 0.6em;
    display: flex;
    align-items: center;
    border-radius: 20em;

    z-index: 100;
    position: fixed;

    scale: 0;
    transition: scale 0.5s cubic-bezier(0.76, 0.00, 0.24, 1.00);
}
.DragContainer.CursorActive {
    scale: 1;
    transition: scale 0.5s cubic-bezier(0.76, 0.00, 0.24, 1.00);
}
.DragArrow {
    height: 50%;
    width: 0.6em;
    display: flex;
    align-items: center;
}
.DragArrow > img {
    height: 100%;
    width: 100%;

    object-fit: contain;
}
.DragText {
    padding: 0 1em;
}
.DragText > p {
    color: #F8F8F8;
    font-size: 0.9em;
}

.prodShowcase_SwiperContainer_Mobile {
    display: none;
}

/* media-query */
@media(max-width: 780px) {
    .prodShowcase {
        font-size: 2rem;
    }
    .prodShowcase_Header_Container {
        flex-direction: column;
        align-items: baseline;
    }
    .prod_Progress_Bar_Outer {
        display: none;
    }
    .prodShowcase_Header_Title {
        width: 80%;
        padding: 0 0 2em 0;
    }
    .prodShowcase_Header_Description {
        width: 80%;
    }
    .prodShowcase_Header_Description > p {
        font-size: 1.6em;
        line-height: 150%;
    }
    .prodShowcase_SwiperContainer {
        display: none;
    }
    /* MOBILE COMPONENT */
    .prodShowcase_SwiperContainer_Mobile {
        display: block;
    }
    .prodShowcase_AssetDiv_Mobile {
        background: rgba(248, 248, 248, 1);
        padding: 2em 2em 4em 2em;

        border-radius: 1em;
    }
    .prodShowcase_AssetDiv_Text_Container {
        padding: 0 0 0 1.4em;
    }
    .prodShowcase_Asset_TitleDiv {
        padding: 2em 0;
    }
    .prodShowcase_Asset_TitleDiv > p {
        font-size: 3.4em;
    }
    .prodShowcase_Asset_DescriptionDiv {
        width: 85%;
        padding: 0 0 2em 0;
    }
    .prodShowcase_Asset_DescriptionDiv > p  {
        font-size: 1.5em;
        line-height: 140%;
    }
    .prodShowcase_AssetModel {
        width: 100%;
        height: 30em;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}