.showCaseText {
    padding: 2rem;
}
.showCaseTextContainer {
    padding: 2rem 4rem;
}
.showCaseTextA {
    font-size: 2.6rem;
}
.showCaseTextB {
    font-size: 1.5rem;
}
.genroDummy{
    /* height: 150vh;
    background: url('/showCaseDummy.svg') no-repeat center center; */
}