.product {
    /* padding: 0 2rem 6rem 2rem; */
    height: 100vh;
    width: 100vw;
    background: #FFF;
    font-size: 1rem;
    position: relative;
}
.product::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
  }
.product_Container {
    padding: 8em 4em 0 4em;
    background: #242423;

    /* border-radius: 0.625em; */
    border-bottom-right-radius: 0.625em;
    border-bottom-left-radius: 0.625em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

/* hero-img */
.product_HeroImg {
    /* width: 82em; */
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}
/* .product_HeroImg > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */
.product_Title_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    transform: translateY(30%);

    z-index: 100;

}
.product_Eyebrow {
    margin: 0.5em 0 1em 0;
}
.product_Eyebrow > p {
    text-align: center;
    font-size: 0.9em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFF;
}
.product_Title {
    width: 70%;
    padding: 4em 0 0 0;
}
.product_Title > p {
    font-size: 6em;
    letter-spacing: -0.01em;
    line-height: 100%;
    text-align: center;
    color: #FFF;
}
/* media-query */
@media(max-width:780px) {
    .product {
        font-size: 3rem;
    }
    .product_Container {
        padding: 8em 2em 0 2em;
    }
    .product_Title_Container {
        align-items: flex-start;
        transform: translateY(25%);
    }
    .product_Title{
        width: 100%;
    }
    .product_Title > p {
        text-align: left;
    }
}