.productImgSeq {
    font-size: 1rem;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #010005;
}
.canavsImgSeq {
    width: 60vw;
    height: 100vh;
    object-fit: cover;
}
.productImgSeq_TextContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 4rem 2rem 2rem 3rem;
}
.prodImg_Seq_Title {
    width: 35%;
}
.prodImg_Seq_Title > h1 {
    font-size: 1.25em;
    line-height: 150%;
    color: #E9E9E9;
}
.prodImg_Seq_MainText {
    padding: 1em 0;
}
.prodImg_Seq_MainText > h1 {
    color: #E9E9E9;
    font-size: 2em;
}
.prodImg_Seq_Text {
    width: 35%;
}
.prodImg_Seq_Text > p {
    color: #E9E9E9;
    font-size: 1.1em;
    line-height: 150%;
}
.prodImg_Seq_Overlay {
    position: absolute;
    bottom: 10%;
    left: 0%;
}
.prodImg_Seq_Progress {
    width: 25%;
    margin: 0.5em 0 0 0;
    height: 2px;
}

/* media-query */
@media(max-width:780px) {
    .productImgSeq {
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .canavsImgSeq {
        position: relative;
        top: -2%;
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
    .productImgSeq::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        /*
        * Created with https://www.css-gradient.com
        * Gradient link: https://www.css-gradient.com/?c1=131413&c2=ffffff&gt=l&gd=dbb
        */
        background: rgba(19, 20, 19, 0.01);
        background: linear-gradient(0deg, rgba(19, 20, 19, 0.77), rgba(255, 255, 255, 0.02));
    }
    .prodImg_Seq_Title {
        width: 85%;
        padding: 1em 0 0 0;
    }
    .prodImg_Seq_Title > h1 {
        font-size:3em;
        font-weight: 200;
        display: none;
    }
    .prodImg_Seq_Overlay {
        bottom: 11%;
    }
    .prodImg_Seq_MainText > h1 {
        font-size: 7em;
    }
    .prodImg_Seq_Text {
        width: 100%;
        padding: 1em 0 1.25em 0;
    }
    .prodImg_Seq_Text > p {
        font-size: 3.4em;
    }
    .prodImg_Seq_Progress {
        width: 50%;
        margin: 0 0 1em 0;
        height: 3px;
    }
}