.prodBtmSC {
    padding: 2rem;

    font-size: 1rem;
}
.prodBtmSC_container {
    padding: 2em 4em;
}
.prodBtmSC_Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2em 0;
}

.prodBtmSC_Title > p {
    font-size: 3em;
    width: 50%;
    text-align: center;
}
.prodBtmSC_A {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10em 0 0 0;
}
.prodBtmSC_A_BluePrint_Container {
    display: flex;
    align-items: center;
    width: 60%;
}
.prodBtmSC_A_BluePrint {
    height: 30em;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.prodBtmSC_A_BluePrint > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.prodBtmSC_A_Info {
    width: 40%;
}
.prodBtmSC_A_Info > img {
    height: 100%;
    width: 100%;

    object-fit: contain;
}
.prodBtmSC_A_Info_Container {
    display: flex;
    flex-wrap: wrap;
}
.prodBtmSC_A_Info_Item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    margin: 0 0 8em 0;
}

/* B */
.prodBtmSC_B {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    margin: 6em 0 0 0;
    height: fit-content;
}
.prodBtmSC_B_ImgContainer {
    display: flex;
    align-items: flex-start;
    position: relative;

    width: 50%;

    background: #F7F1D7;
    border-radius: 0.65em;

    overflow: hidden;
    padding: 4em;
}

.prodBtmSC_B_TextContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
}
.prodBtmSC_B_TextContainer_eyebrow > p {
    font-size: 1em;
    text-transform: uppercase;
}
.prodBtmSC_B_TextContainer_Title {
    z-index: 100;
}
.textA {
    font-size: 4em;
    z-index: 100;
}
.textB {
    font-size: 6em;
    z-index: 100;
}
.prodBtmSC_B_Img {
    height: 100%;
    width: 100%;
}


.prodBtmSC_B_ContainerB {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* SWIPER */
.prodBtmSC_B_Swiper_Container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prodBtmSC_B_Container_Vid_Container {
    margin: 2.8em 0 0 0;
}

/* Testimonial Swiper */
.testimonial_Container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;

    position: relative;

    padding: 2em 1em 4em 1em;
}
.testimonial_Img {
    height: 20%;
    width: 40%;

}
.testimonial_Img > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.testimonial_Title_Container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
}
.testimonial_Title {
    padding: 2em 0;
}
.testimonial_Title > p {
    color: #FFFF;
    font-size: 2.4em;
}
.testimonial_description {
    width: 95%;
}
.testimonial_description > p {
    color: #FFF;
    font-size: 1em;
    text-align: center;
}
/* Testimonial Progress Bar */
.progressBar {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 30%;
    height: 2px;
    background: #D4D4D4;

    z-index: 100;
}
.progressBar_Inner {
    width: 20%;
    height: 100%;
    background: #C0A949;
    z-index: 100;
    transition: all 1s ease;
}
.prodBtmSC_C.prodBtmSC_C_Mob {
    display: none;
} 
/* C */
.prodBtmSC_C {
    padding: 2em;
    margin: 2em 0;

    font-size: 1rem;
    background: #EEEEEE;
    border-radius: 0.625em;
    /* overflow: hidden; */
}
.prodBtmSC_C_Container {
    display: flex;
    align-items: center;
}

/* D */
.prodBtmSC_D{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}
.prodBtmSC_D_Title > p {
    text-align: center;
    color: #322712;
    font-size: 4.6em;
}
.prodBtmSC_D_Title > p:last-child {
    display: none;
}
.prodBtmSC_D_CTA_Container{
    display: flex;
    align-items: center;
    margin: 2em 0 0 0;
}
.prodBtmSC_D_CTA_B {
    display: flex;
    align-items: center;
    padding: 0.4em 1em;
    border-radius: 0.6em;
    cursor: pointer;
    border: 1px rgba(50, 39, 18, 0.33) solid;

    background: #FFF;
}

.prodBtmSC_D_CTA_B_Img {
    height: 3em;
    width: 3em;
}

/* media-query */
@media(max-width:780px) {
    .prodBtmSC {
        font-size: 3rem;
        background: #EEEEEA;
    }
    .prodBtmSC_container {
        padding: 2em 1em;
    }
    .prodBtmSC_Title {
        width: 100%;
        padding: 2em 0 0 0;
    }
    .prodBtmSC_Title > p {
        font-size: 3.1em;
        text-align: left;
        width: 100%;
    }
    /* Bottom A */
    .prodBtmSC_A  {
        flex-direction: column;
        margin: 3em 0 0 0;
    }
    .prodBtmSC_A_BluePrint_Container{
        width: 100%;
        padding: 0 0 3em 0;
    }
    .prodBtmSC_A_BluePrint {
        height: 40em;
    }
    .prodBtmSC_A_Info {
        width: 100%;
    }
    .prodBtmSC_A_Info_Container {
        justify-content: space-between;
        align-items: flex-start;
    }
    .prodBtmSC_A_Info_Item {
        width: 20%;
    }
    .prodBtmSC_A_Info_Item > div > p {
        text-align: center;
    }

    /*  */
    .prodBtmSC_C {
        display: none;
    }
    .prodBtmSC_C.prodBtmSC_C_Mob {
        display: block;
        padding: 2em 0;
    }
    .prodBtmSC_C_Mob_Container {
        /* border: 1px red solid; */
    }
    .prodBtmSC_C_Mob_Title{
        text-align: center;
    }
    .prodBtmSC_C_Mob_Title > p {
        font-size: 2em;
    }
    .prodBtmSC_C_Mob_Logo_Container{
        width: 100%;
        position: relative;   

    }
    .prodBtmSC_C_Mob_Logo_Inner_Container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        scale: 1.05;
    }
    .prodBtmSC_C_Mob_Logo_Item {
        width: 15%;

    }
    /*  */
    .prodBtmSC_B {
        flex-direction: column;
    }
    .prodBtmSC_B_ImgContainer {
        width: 100%;
        height: 50vh;
        padding: 1em;

        margin: 0 0 3em 0;
    }
    .textA {
        font-size: 2.8em;
    }
    .textB {
        font-size: 3.4em;
    }
    .prodBtmSC_B_Img {
        position: absolute;
        z-index: 50;
        top: 45%;
        left: 42%;

        width: 34em;
        transform: translate(-50%, -50%);
    }
    .prodBtmSC_B_ContainerB {
        width: 100%;
        flex-direction: column-reverse;
    }
    .prodBtmSC_B_Container_Vid_Container {
        margin: 0 0 2em 0;
    }
    .testimonial_Container {
        flex-direction: column;
    }
    .testimonial_Title_Container {
        width: 85%;
    }
    .testimonial_Title{
        padding: 1em 0;
    }
    .testimonial_description {
        width: 100%;
    }
    /* D */
    .prodBtmSC_D {
        padding: 6em 0 3em 0;
    }
    .prodBtmSC_D_Title > p {
        display: none;
    }
    .prodBtmSC_D_Title > p:last-child  {
        display: block;
        font-size: 3.4em;
    }
    .prodBtmSC_D_CTA_Container {
        flex-direction: column-reverse;
    }
    .prodBtmSC_D_CTA_B{
        padding: 0.8em 1.4em;
        margin: 1em 0 2em 0;
    }
    .prodBtmSC_D_CTA_B_Img {
        margin: 0 3em 0 0;
    }
}