.productImgSeq {
    font-size: 1rem;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #010005;
}
.canavsImgSeq {
    width: 60vw;
    height: 100vh;
    object-fit: cover;
}
.productImgSeq_TextContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 4rem 2rem 2rem 3rem;
}
.prodImg_Seq_Title {
    width: 35%;
}
.prodImg_Seq_Title > h1 {
    font-size: 1.25em;
    line-height: 150%;
    color: #E9E9E9;
}
.prodImg_Seq_MainText {
    padding: 1em 0;
}
.prodImg_Seq_MainText > h1 {
    color: #E9E9E9;
    font-size: 2em;
}
.prodImg_Seq_Text {
    width: 35%;
}
.prodImg_Seq_Text > p {
    color: #E9E9E9;
    font-size: 1.1em;
    line-height: 150%;
}
.prodImg_Seq_Overlay {
    position: absolute;
    bottom: 10%;
    left: 0%;
}
.prodImg_Seq_Progress {
    width: 25%;
}

/* media-query */
@media(max-width:780px) {
    .productImgSeq {
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
    .canavsImgSeq {
        position: relative;
        top: -2%;
        height: 100vh;
        width: 100vw;
        object-fit: cover;

    }
    .prodImg_Seq_Title {
        width: 85%;
        padding: 1em 0 0 0;
    }
    .prodImg_Seq_Title > h1 {
        font-size:3em;
        font-weight: 200;
        display: none;
    }
    .prodImg_Seq_Overlay {
        bottom: 8%;
    }
    .prodImg_Seq_MainText > h1 {
        font-size: 5em;
    }
    .prodImg_Seq_Text {
        width: 90%;
    }
    .prodImg_Seq_Text > p {
        font-size: 3em;
    }
    .prodImg_Seq_Progress {
        width: 50%;
    }
}