.product_Overview_Eyebrow {
    padding: 2rem;
    margin: 10rem 0;

    font-size: 1rem
}
.product_Overview_Eyebrow_Container {
    padding: 2em 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.product_Overview_Eyebrow_Left {
    width: 45%;
}
.product_Overview_Eyebrow_Left > p {
    font-size: 4.1em;
}
.product_Overview_Eyebrow_Right {
    width: 45%;
}
.product_Overview_Eyebrow_Right > p {
    font-size: 1.4em;
    line-height: 140%;
}
.product_Overview_Eyebrow_Left.product_Overview_Eyebrow_Left_Mob {
    display: none;
}

/* media-query */
@media(max-width:780px) {
    .product_Overview_Eyebrow {
        font-size: 3rem;
        padding: 0 2rem 2rem 2rem;
    }
    .product_Overview_Eyebrow_Container {
        flex-direction: column;
        padding: 1em 1em 2em 1em;
        margin: 5em 0 0 0;
    }
    .product_Overview_Eyebrow_Left {
        width: 100%;
    }
    .product_Overview_Eyebrow_Right {
        width: 100%;
        padding: 2em 0 0 0;
    }
    .product_Overview_Eyebrow_Left > p {
        font-size: 3.4em;
    }
    .product_Overview_Eyebrow_Right > p {
        font-size: 1.3em;
        line-height: 160%;
    }

    .product_Overview_Eyebrow_Left {
        display: none;
    }
    .product_Overview_Eyebrow_Left.product_Overview_Eyebrow_Left_Mob {
        display: block;
    }
}