.contact {
    padding: 2rem;
    background: #171107;
    font-size: 1rem;
}
.contact_Container {
    padding: 8em 4em 3em 4em;
}
.contact_TitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_Title {
    width: 80%;
}
.contact_Title > p {
    font-size: 6.1em;
    color: #FFF;
    text-align: center;

    line-height: 110%;
}
.contact_SubTitle {
    margin: 3em 0 4em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.contact_SubTitle > p {
    font-size: 1.55em;
    color: #FFFF;
    text-align: center;
}
.contact_FormContainer {
    background: #212226;
    border-radius: 0.625em;

    color: #FAFBFF;
    padding: 4em 6em 2em 6em;
}
.contact_FormContainer_Pad {
    padding: 0 8em 0 12em;
}

textarea {
    outline: none;
    background: none;
    padding: 2.2em 1em 2.2em 1em;
    height: 200px;

    resize: none;

    border-radius: 0.6875em;
    margin: 0.8em 0 0.2em 0;
    color: #FAFBFF;

}
label {
    font-size: 0.9em;
}
.input{
    display: flex;
    flex-direction: column;
    outline: none;
    margin: 1em 0;
}
.formFieldA {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input.form_FirstName {
    width: 48%;
} 
.input.form_LastName {
    width: 48%;
}

/* focus-css */
.focused {
    border: 1px #E5D161 solid;
    background: none;
    transition: all 0.3s ease;

    outline: none;
    /* background: none; */
    padding: 2.2em 1em 2.2em 1em;

    border-radius: 0.6875em;
    margin: 0.8em 0 0.2em 0;
    color: #FAFBFF;
}
.notFocused {
    border: 1px #737680 solid;
    transition: all 0.3s ease;
    background: none;

    outline: none;
    /* background: none; */
    padding: 2.2em 1em 2.2em 1em;

    border-radius: 0.6875em;
    margin: 0.8em 0 0.2em 0;
    color: #FAFBFF;

}
.textFocused {
    color: #FAFBFF;
    transition: all 0.3s ease;

}
.textNotFocused {
    color: #737680;
    transition: all 0.3s ease;

}
/* Btn */
.form_BtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 2em 0 1em 0;
}
.form_Btn {
    border: none;
    outline: none;
    padding: 3em 6em;
    width: 100%;
    border-radius: 20em;
    cursor: pointer;

    background: #FFFFFF;
    transition: all 0.3s ease;
}
.form_Btn:hover {
    opacity: 0.9;
}
.form_Btn > p {
    /* font-size: 1.875rem; */
    font-size: 2.7em;
    color: #000;
}
.form_Terms {
    padding: 2em 0;
}
.form_Terms > p {
    font-size: 0.875em;
}
/* errors */
.form_Error {
    color: rgb(231, 47, 47);
    margin: 0.4em 0 0 0.2em;
    font-size: 0.9em;
}

/* Contact Bottom */
.contact_BottomContainer {
    margin: 12em 0 2em 0;
    padding: 0 4em 0 4em;

}
.contact_BottomContent{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.contact_BottomContentA {
    width: 35%;

}
.contact_BottomContentA.contact_BottomContentA_Mob {
    display: none;
} 
.bottomContentAText > p {
    font-size: 7em;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 100%;
}

.contact_BottomContentB {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact_AddressItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 0 0 6em 0;
}
.contact_AddressItemCountry {
    padding:  0 0 0.5em 0;
}
.contact_AddressItemCountry > p {
    font-size: 1.4em;
    color: #ffff;
}
.contact_AddressItemAddress {
    padding: 0.5em 0;
    width: 60%;
}
.contact_AddressItemAddress > p {
    font-size: 1em;
    color: #ffff;
    line-height: 130%;
}
.contact_AddressItemMail {
    padding: 1em 0;
    width: 70%;
}
.contact_AddressItemMail > p {
    font-size: 0.9em;
    color: #FFFF;
    line-height: 130%;
}
.contact_AddressItemTel > p {
    font-size: 0.9em;
    color: #FFF;
}
/* whatsapp */
.contactWhatsapp_Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 4em 0 0 0;
}
.contactWhatsapp {
    border-radius: 20em;
    padding: 1.2em 2em;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFF;
    border: none;
    border: 1px white solid;
}
/* Call us */
.contactWhatsapp_Container.callUs {
    margin: 1em 0 0 0;
}
.contactWhatsapp.callUs {
    background: none;
    color: #FFFF;
    border: 1px white solid;
}
/* HOVER */
.goldHover{
    transition: all 0.3s cubic-bezier(0.76, 0.00, 0.24, 1.00);
    cursor: pointer;
}
.goldHover:hover{
    color: #E5D161;
}
.brwnHover {
    transition: all 0.3s cubic-bezier(0.76, 0.00, 0.24, 1.00);
}
.brwnHover:hover {
    color: #8C7024;
}
/*  media-query */
@media(max-width:780px) {
    .contact {
        font-size: 3rem;
    }
    .contact_Container {
        padding: 12em 1em 3em 1em;
    }
    .contact_Title {
        width: 100%;
        padding: 1em 0;
    }
    .contact_Title > p {
        font-size: 2.5em;
        text-align: center;

        scale: 1.21;
    }
    .contact_SubTitle {
        width: 90%;
        margin: 2em 0 4em 0;
    }
    .contact_SubTitle > p {
        font-size: 1.2em;
    }

    /* Form */
    .contact_FormContainer_Pad {
        padding: 0;
    }
    .contact_FormContainer {
        padding: 2em;
    }
    .focused {
        padding: 1em;
    }
    .notFocused {
        padding: 1em;
    }
    .form_Btn {
        padding: 1.4em;
    }
    .form_Btn > p {
        font-size: 1.4em;
    }
    .form_Terms {
        padding: 1.4em 0 0.5em 0;
    }
    .form_Terms > p {
        text-align: center;
        font-size: 1em;
        line-height: 150%;
    }
    /* Contact Bottom */
    /* Bottom A */
    .contact_BottomContainer {
        padding: 0 0.5em;
        margin: 5em 0 2em 0;
    }
    .contact_BottomContent {
        flex-direction: column;
    }
    .contact_BottomContentA {
        display: none;
    }
    .contact_BottomContentA.contact_BottomContentA_Mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .bottomContentAText {
        width: 50%;
        scale: 0.95;
    }
    .bottomContentAText > p {
        font-size: 3em;
    }
    .contactWhatsapp_Container {
        margin: 1em 0 0 0;
    }
    .contactWhatsapp {
        width: 100%;
        padding: 0.5em 0;
    }
    /* Bottom B */
    .contact_BottomContentB {
        width: 100%;
        margin: 4em 0 2em 0;
    }
    .contact_AddressItemAddress {
        width: 100%;
    }
}