@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* AG - FONT */
@font-face {
  font-family: ag-reg;
  src: url('/fonts/AG-reg.woff2');
}
.ag-reg {
  font-family: ag-reg;
}



/* font-guide */
.MEGA {
  font-size: 7.5em;
}
.h1 {
  font-size: 5em;
}
.h2 {
  font-size: 4.625em;
}
.h3 {
  font-size: 3.375em;
}
.p1 {
   font-size: 1.75em;
}
.p2 {
  font-size: 1.5em;
}
.p3 {
  font-size: 1.25em;
}
.b1 {
  font-size: 1.125em;
}
.b2 {
  font-size: 1em;
}
.b3 {
  font-size: 0.875em;
}
.b4 {
  font-size: 0.75em;
}
.eyebrowtext {
  font-size: 0.875em;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1vw;
}

body {
  font-family: ag-reg;
  position: relative;
  background: #FFFF;
}

a {
  color: inherit;
  text-decoration: none;
}
.talkToUsBtn {
  background: none;
  outline: none;
  color: #FFFF;
  cursor: pointer;

  transition: all 0.8s cubic-bezier(0.76, 0.00, 0.24, 1.00);
}
.talkToUsBtn:hover {
  background: #FFFF;
  color: #000;
}
.ofh {
  overflow: hidden;
}
/* colors */
.mustard-dark {
  color: rgba(140, 112, 36, 1);
}
.gold {
  color: rgba(221, 199, 88, 1);
}
.dark-grey {
  color: rgba(102, 102, 102, 1);
}
.whiteHover {
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s cubic-bezier(0.76, 0.00, 0.24, 1.00);
}
.whiteHover:hover {
  color: rgba(255, 255, 255, 1);
}
/* SWIPER */
.swiper-pagination {
  margin: 0 0 0 16em;
}


/* PUT IN CORRECT FILE LATER dummy progress bar product child page */
.dummyProgressBar {
  position: relative;
}
.dummyProgressBar::after {
  content: '';
  position: absolute;
  bottom: -60%;
  left: 0;
  height: 3px;
  width: 100%;
  background: rgba(238, 238, 234, 0.4);
}
.dummyProgressBar::before {
  content: '';
  position: absolute;
  bottom: -60%;
  left: 0;
  height: 3px;
  width: 30%;
  background: #EAEAEAEA;
  z-index: 20;
}
/* LOADER MAIN */
.LOADER {
  animation: reveal 1s ease-in-out infinite;
  position: relative;
}
.LOADER::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  height: 25%;
  width: 2px;
  background: rgba(79, 79, 79, 0.56);
}
.LOADER::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  height: 25%;
  width: 2px;
  background: rgba(79, 79, 79, 0.56);
}
.LoaderProgress {
  background: #8C7024;
  width: 0;
  animation: progress 4s normal;
  animation-delay: 1s;
}
@keyframes progress {
  from {
    width: 0;
  }
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  55% {
    width: 52%;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 100%;
  }
  to {
    width: 100%;
  }
}
/* Loader reveal */
.loaderLeft_Reveal {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 50vw;
  background: #FFFF;

  z-index: 200;
}
.loaderRight_Reveal {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  width: 50vw;
  background: #FFFF;

  z-index: 200;
}
/* Animation transitions */
.quint {
  transition: all cubic-bezier(0.85, 0, 0.15, 1);
}
.quart {
  transition: all cubic-bezier(0.76, 0.00, 0.24, 1.00);
}

/* CTA Styling */
/* CTA About */
.CTA_About_A {
  height: 5em;
  width: 16em;
}
.CTA_About_B {
  height: 5em;
  width: 6em;
}
/* CTA Ready to Innovate with us */
.CTA_Innovate_A {
  height: 2em;
  width: 14em;
}
.CTA_Innovate_B {
  height: 2em;
  width: 6em;
}
/* CTA About Media Query */
@media(max-width: 780px) {

  .CTA_About_A {
    height: 4em;
    width: 13em;
  }
  .CTA_About_B {
    height: 4em;
    width: 6em;
  }

  .CTA_Innovate_A {
    height: 1em;
    width: 12em;
  }
  .CTA_Innovate_B {
    height: 1em;
    width: 6em;
  }

}

